<ion-header>
    <ion-navbar>
      <ion-title>
        My Profile
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="settings"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-content padding>
      <button ion-button (click) = "accessGallery()">Add Picture from Gallery</button>
      <img src = "base64Image" *ngIf="base64Image"/>
      <img src = "https://www.gatewaychamber.com/Content/Uploads/ProfilePictures/default-user.png" *ngIf = "!base64Image" />
      <h1><b>{{name}}</b></h1>
      <h2>{{username}}</h2>
      <h2>{{email}}</h2>
      <h3>Total Donations: ${{this.sum}}</h3>
      <button ion-button block outline (click) = "navToMyCharities()">My Charities</button>
      <button ion-button block outline (click) = "navToCharityList()">Add Charities</button>
  </ion-content>
  