<!--
  Generated template for the MyCharitiesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>My Charities</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <div style="display: block">
        <canvas baseChart
          [data] = "doughnutChartData"
          [labels] = "doughnutChartLabels"
          [chartType]="doughnutChartType"></canvas>
    </div>
    <ion-grid>
      <ion-row justify-content:start>
      <ion-col col-6 *ngFor="let i of indexArray">
        <ion-card class="card" (click) = "navToDetails(myCharities.charityArr[i])">
          <img src={{myCharities.charityArr[i].image}}>
          <ion-icon end icon-only name="star-outline">{{myCharities.numArr[i]}}</ion-icon>
          <ion-card-content>
            <ion-card-title>
              {{myCharities.charityArr[i].name}}
            </ion-card-title>
            <p *ngIf="isNA(myCharities.planArr[i])">
              Plan: {{myCharities.planArr[i]}}
            </p>
            <p *ngIf="!isNA(myCharities.planArr[i])">
              Plan: Donating ${{myCharities.donateArr[i]}} {{myCharities.planArr[i]}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      </ion-row>
    </ion-grid>
    </ion-content>