page-my-charities {
    .card{
        height: 32rem;
        background-color: aliceblue;
        img{
            padding: 1em;
        }
        .card-title-md{
            font-size: 2rem;
            font-weight: bold;
        }
        p{
            color: silver;
        }
        ion-icon{
            float: left;
        }
    }
}
