page-details {
    .toolbar-title-md {
        text-align: center;
        clear: both;
    }
    .content{
        img {
            display: inline-block;
            size: 20%;
        }
        .button-large-md {
            height: 2.8em;
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            padding: 2em;
        }
        a{
            color:blueviolet;
        }
        .heading{
            font-size: 2.25rem;
            color: cornflowerblue;
        }
        .donationDetails{
            font-size: 2.5rem;
            color: white;
            font-weight: 500;
            line-height: .5rem;
        }
    }
}
